extend layout/main.pug
block content
  .container.mt-5
    .row
      .col
        .tex-center
          .heading All Expenses
  .container.mt-3
    .row
      .col(style="text-align: right;")
        button.btn.btn-info(type='button' data-toggle="modal" data-target="#myModal")(style="") Add New Expense
          

        #myModal.modal(tabindex="-1",role="dialog",aria-labelledby=id+"Label" aria-hidden="false",style="text-align: center;")
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type="button",data-dismiss="modal")
                  span(aria-hidden="false") &times;
                  span.sr-only Close
                h4.modal-title(id=id+"Label") Add new Expense
                br
              .modal-body
                label(for="category",style="text-align: center;") Choose a category:
                select(name="category" id="ctegory")
                  for cat, key in categories
                    option #{cat.name}

                br
                label(for="amount",style="text-align: center;") Enter an amount:  
                input(type="double" id="amount" name="amount",)
                br

                input(type="submit" value="Submit" action="")

              .modal-footer
                button.btn.btn-default(type="button",data-dismiss="modal") Close


  .container.mt-3
    .row.d-flex.justify-content-center
      table.table.table-bordered.table-striped.table-hover
        thead.thead-dark
          tr
            th SN
            th Category Name
            th Expense
            th Action
        tbody
          for expense, key in expenses
            tr
              td #{index=key+1}
              td #{expense.name}
              td &pound;#{expense.amount}
              td
                button.btn.btn-success(type='button', data-toggle="modal" data-target="#updateModal")(style="margin: 0px 5px;") Update
                #updateModal.modal(tabindex="-1",role="dialog",aria-labelledby=id+"Label" aria-hidden="false",style="text-align: center;")
                  .modal-dialog
                    .modal-content
                      .modal-header
                        button.close(type="button",data-dismiss="modal")
                          span(aria-hidden="false") &times;
                          span.sr-only Close
                        h4.modal-title(id=id+"Label") Update Expense
                        br
                      .modal-body 
                        label(for="expense",style="text-align: center;") Edit Amount: 
                        input(type="double" id="amount" name="amount",)
                        br
                        input(type="submit" value="Submit" action="")

                      .modal-footer
                        button.btn.btn-default(type="button",data-dismiss="modal") Close

                        
                        
                        


                button.btn.btn-danger(type='button' )(style="margin: 0px 5px;") Delete